* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #009688 0vh, #009688 12vh, #DADBD4 12vh, #DADBD4 100vh);
    height: 100vh;
    font-family: "lato" , sans-serif;
}

.flx {
    display: flex;
}

.main-wrapper {
    width: 80%;
    height: 95vh;
    background-color: #EAEAEA;
    position: absolute;
    top: 3vh;
    left: 10%;
}

#left-menu {
    width: 35%;
    background-color: white;
    border-right: 1px solid lightgrey;
}

#right-section {
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

#top-left-menu,
#top-right-menu {
    align-items: center;
    background-color: #EAEAEA;
    height: 80px;
}

.propic {
    border-radius: 50%;
    max-width: 80px;
    padding: 10px;
}

.username,
.active-chat {
    font-weight: lighter;
    flex-grow: 1;
}

.active-chat > span {
    color: #7F739B;
    font-size: .9rem;
}

.contact-name {
    font-size: 1rem;

}

#navigation-links > i,
#chat-interation-links > i {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px;
    color: #B1B1B1;
}

#navigation-links > i:last-child,
#chat-interation-links > i:last-child {
    margin-right: 30px;
    font-size: 1.6rem;
}

#notification-menu {
    background-color: #8EDAFC;
    align-items: center;
    height: 80px;
}

#notification-menu > i {
    display: inline-block;
    font-size: 1.5rem;
    padding: 15px 12px;
    background-color: white;
    margin: 15px 20px;
    border-radius: 50%;
    color: #8EDAFC;
}

#notification-menu > div > a {
    color: #4F74A4;
    font-size: .9rem;
}

#search-menu {
    height: 80px;
    padding-top: 10px;
}

#search-menu button {
    background-color: white;
    color: #BFCEE0;
    border: none;
    padding: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
}

#search-menu > input {
    font-size: 1.3rem;
    border: none;
    width: 70%;
    outline: none;
}

#search-menu > input:focus {
    border-bottom: 2px solid grey;
}

#contact-list {
    height: calc(100% - 240px);
    overflow-y: scroll;
}

#contact-list > ul {
    list-style: none;
}

#contact-list li {
    position: relative;
    cursor: pointer;
}

#contact-list li.active {
    background-color: #E9EBEB;
}

.contact-info {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.contact-info > span {
    font-size: .9rem;
    color: #C6B9CA;
}

.contact-info .when-last-message {
    font-size: .8rem;
    position: absolute;
    top: 20px;
    right: 10px;
}

#messages-container {
    height: calc(100% - 160px);
    overflow-y: scroll;
}

#messages-container > ul {
    padding-top: 80px;
    list-style: none;
    width: 80%;
    height: 99%;
    margin: auto;
    flex-direction: column;
}

#text-input-container {
    height: 80px;
    background-color: #F3EEEA;
    align-items: center;
    justify-content: space-around;
}

#text-input-container input {
    width: 80%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

#text-input-container i {
    font-size: 2rem;
    color: #6B7376;
    cursor: pointer;
}

#text-input-container i:last-child {
    margin-right: 1rem;
}

.message {
    border-radius: 10px;
    padding: 20px 30px;
    width: 45%;
    overflow: auto;
    margin: 8px;
    position: relative;
}

.message.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message.received {
    background-color: white;
    align-self: flex-start;
}

.message > span {
    color: #C6B9CA;
    font-size: .7rem;
    position: absolute;
    bottom: 8px;
    right: 8px;
}











@media all and (max-width: 1024px) {

    .main-wrapper {
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }

    #messages-container > ul {
        width: 95%;
    }
}


@media all and (max-width: 768px) {

    .contact-info,
    #notification-menu span,
    #notification-menu a,
    #navigation-links,
    .username,
    #search-menu > input {
        display: none;
    }

    #left-menu {
        width: 5.5rem;
    }

    #right-section {
        width: calc(100% - 5.5rem);
    }

}